<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Questionario </title>
</head>

<body>
    
    <h1>QUESTIONARIO BCC</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2>
                    QUESTIONARIO BCC
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>

                <h3>
                    QUESTIONARIO BCC
                </h3>
                <form action="">
                    {% for i in topicos %}
                    <h3>{{i}}</h3>
                    {% for pergunta in perguntas %}
                    <h5>{{pergunta}}</h5>
                    <!-- {var = 0} -->
                    <div>
                    <div class="form-check form-check-inline" id="as">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{pergunta+'1'}} value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{pergunta+'2'}} value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{pergunta+'3'}} value="option3">
                        <label class="form-check-label" for="inlineRadio3">3 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{pergunta+'4'}} value="option4">
                        <label class="form-check-label" for="inlineRadio3">4 </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id={{pergunta+'5'}} value="option5">
                        <label class="form-check-label" for="inlineRadio3">5 </label>
                    </div>
                </div>
            {%endfor%}
            {%endfor%}
            
                </form>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>





</body>

</html>''